.caption{
	font-size: 14px;
	font-family: Georgia, serif;
}
.tooltip{
	font-size: 12px;
}
.tooltip_bg{
	fill: white;
	stroke: black;
	stroke-width: 1;
	opacity: 0.85;
}

/*
baisc colors:
verde dito #84c44a
azul #2166AC
cinza rgb(241,241,241)


*/